{% extends 'layout.html.twig' %}

{% block title %}Game Master{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-around">
            <h1 class="col-12 text-center admin_title">Welcome, Game Master</h1>
            <div>
                <a class="admin_button btn btn-danger" href="/admin/createchallenge">CHALLENGES</a>
            </div>
            <div>
                <a class="admin_button btn btn-danger" href="/admin/managecontest">CONTESTS</a>
            </div>
            <div>
                <a class="admin_button btn btn-danger" href="/admin/manageusers">USERS</a>
            </div>
            <div>
                <a class="admin_button btn btn-danger" href="/admin/addcampus">CAMPUS</a>
            </div>
            <div>
                <a class="admin_button btn btn-danger" href="/admin/addSpecialty">SPECIALTY</a>
            </div>
        </div>
    </div>
{% endblock %}
