{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container">

        <h1 class="text-center">About Joshua</h1>

        <h3>History :</h3>

        <p class="text-white mt-5">
            Joshua was developed as part of project 2 of the Wild Code School Web Developer training,
            coding in PHP with a WCS in-house framework : <a href="https://github.com/WildCodeSchool/simple-mvc" target="_blank" class="link-footer">Simple MVC</a>.
        </p>

        <p class="text-white">
            The design of the site is made to be simple and to resemble a computer terminal.
        </p>

        <p class="text-white">
            The name Joshua is from an old movie from the 80s, <a href="http://www.allocine.fr/film/fichefilm_gen_cfilm=51719.html" target="_blank" class="link-footer">War Games</a>.
            Joshua is in the film an intelligent computer developed to predict likely scenarios of wars and the countermeasures going with them.<br>
            The phrase 'Shall we play a games?" Is also taken from this movie.
        </p>

        <figure class="mx-auto mt-4">
            <img src="https://www.gadgetify.com/wp-content/uploads/2019/10/04/WarGames-WOPR-PC-Case-Mod.gif">
            <figcaption class="bg-dark text-white text-center">W.O.P.R Aka Joshua</figcaption>
        </figure>

        <h3>The team : </h3>
        <div class="d-flex justify-content-center mt-5">
            <div class="team-member">
                <img src="/assets/images/team/caroline.png">
                <p class="text-center text-white">Caroline</p>
            </div>
            <div class=team-member>
                <img src="/assets/images/team/francois.png">
                <p class="text-center text-white">François</p>
            </div>
            <div class=team-member>
                <img src="/assets/images/team/marien.png">
                <p class="text-center text-white">Marien</p>
            </div>
            <div class="team-member">
                <img src="/assets/images/team/guillaume.png">
                <p class="text-center text-white">Guillaume</p>
            </div>
        </div>

    </div>

{% endblock %}