{% extends 'layout.html.twig' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1>404</h1>
            <p class="text-white">
                Sorry, this page doesn't exists
            </p>
            <a class="btn btn-dark" href="/">Go back joshua home</a>
        </div>
    </div>
</div>
{%  endblock %}
