@keyframes activated {
    from {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes flashing-red-white {
    0% {
        color: white;
    }
    49% {
        color: white;
    }
    50% {
        color:var(--josh-red);
    }

    100% {
        color:var(--josh-red);
    }
}

/* MAIN ADMIN PAGE */

.admin_title {
    margin: 4rem;
}

.admin_button {
    margin-top: 4rem;
}

/* END MAIN ADMIN PAGE */

/* ADMIN USERS */

table.adminusers {
    width:100%;
}

table.adminusers tr:not(:last-child) {
    border-bottom : 1px solid #ccc;
}

table.adminusers tr td {
    padding: 10px 0 ;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--josh-red);
    background-color:  var(--josh-red);
}

.pagination {
    margin-top:20px;
    padding-left:35px;
}

.page-item .page-link {
    color:var(--josh-grey);
    font-family: var(--josh-text-font);
}

.page-item.active .page-link {
    background-color: var(--josh-red);
    border-color: var(--josh-red);
    color:white;
}

/* END ADMIN USERS */

/* CONTEST */

.draggable:hover {
    cursor : move;
}
.list-group-item {
    transition: all 0.2s ease-in-out;
}
.list-group-item.spacer {
    border:none;
    opacity:0;
    border-radius:5px;
    margin-bottom:5px;
    height:40px;
    animation:flashing-item 0.5s ease-in-out;
}
.list-order-number {
    color:var( --josh-red);
    margin-right:3px;
}

.existing_challenge {
    font-family: var(--josh-major-font);
    font-size: 0.8rem;
}

.existing_challenge span {
    font-size: 0.6rem;
}

.list-group-item-dark .btn {
    font-size: 0.8rem;
}

.list-container {
    height: 24rem;
}

.modal-contest {
    background-color: var(--josh-grey);
    color: var(--josh-green);
}

.activated {
    font-family: var(--josh-major-font);
    font-size: 0.8rem;
    animation: activated 2s infinite;
    background-color: var(--josh-red);
    border: 1px solid transparent;
}

.activated-buttons {
    width: 6.5rem;
}

.display-switch {
    font-family: var(--josh-major-font);
    font-size: 0.8rem;
}

/* END CONTEST */

/* SPECIALTY */

ul {
    list-style-type: none;
}

.list-specialty {
    height: auto;
    width:42%;
    line-height: normal;
}

.container-specialties {
    justify-content: center;
    align-items: center;
    margin-left: 11rem;
}

.input-group.specialty.campus {
    padding: 0;
}

.row-specialty {
    margin-top: 2rem;
}

.specialty-font {
    margin-top: 3rem;
    font-family: var(--josh-major-font);
}

.btn.specialty {
    border-radius: 1px;
    border-color: grey;
    margin-left: 13rem;
}

.btn-campus {
    border-radius: 1px;
    border-color: grey;
}
.row-campus {
    margin-top: 2rem;
}
.btn-campus:hover {
    background:var(--josh-red) ;
}
.row-campus-flag {
    margin-top: 4rem;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
}

/* END SPECIALTY */