/* CONTEST */

.w-70 {
    width:70%;
}

.hide {
    display:none !important;
}

.mgt-20 {
    margin-top:20px;
}

.mgb-15 {
    margin-bottom:15px;
}

.steper  {
    display:flex;
    border-left:1px solid #fff;
    flex-direction: column;
    padding-bottom:42px;
    background: url('/assets/images/white-left-flag.svg') no-repeat bottom left;
}

.step {
    display:flex;
    flex-direction: row;
    margin-top:10px;
}

.step-order {
    width:25px;
    height:25px;
    border:1px solid #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    background-color: var(--josh-grey);
    margin-left:-12px;
}

.step-name {
    display:inline-block;
    margin-left:30px;
}

.done {
    color:#fff;
}

.doing {
    color:var(--josh-green);
}

.doing .step-order {
    background-color:#fff;
    color:var(--josh-grey);
}

.todo {
    color:#424242;
}

.alert {
    border-radius: 0;
}

.flag-playground .alert-danger {
    background-color: var(--josh-red);
    color:#fff;
}

.flag-playground .alert-success {
    background-color: var(--josh-green);
    color:var(--josh-grey);
}

.info-challenge-title {
    display:inline-block;
    padding:1px 4px;
    background:white;
    color:var(--josh-grey);
    margin-bottom:3px;
}

.difficulty {
    display:block;
    margin-bottom: 20px;
}

.cursor {
    display:block;
    width:10px;
    height:15px;
    background-color: white;
    display:inline-block;
    opacity: 0.8;
    animation: clignote 1s infinite;
}

.go-to-flag:hover {
    background-color: var(--josh-red);
}

.ranking {
    padding:0;
    margin-top:10px;
    width:80%;
}

.ranking li {
    font-size: 0.75rem;
    padding : 3px 0;
    list-style: none;
    position:relative;
}

.ranking li.podium::before {
    position:absolute;
    left:0;
    width:30px;
    height:17px;
    display: block;
    content: ' ';
    top:3px;
    background-size: contain !important;
    margin-left:-30px;
}

.ranking li.first::before {
    background:url('/assets/images/golden-flag.svg') no-repeat center center;
}

.ranking li.second::before {
    background:url('/assets/images/silver-flag.svg') no-repeat center center;
}

.ranking li.third::before {
    background:url('/assets/images/bronze-flag.svg') no-repeat center center;
}

.badge-success {
    background-color: var(--josh-green);
    color: var(--josh-grey);
    margin-bottom: 0;
    border-radius: unset;
    padding: .4em;
}

.title-color {
    text-transform: uppercase;
}

.btn-success {
    border-radius: 10px;
    background-color: var(--josh-green);
    color: var(--josh-grey);
}

.btn-success:hover {
    background-color: var(--josh-red);
    border-color: var(--josh-red);
}

/* END CONTEST */

/* RESULTS */
.podium img {
    width:20%;
}

.players-ranking {
    margin-top:50px;
    margin-bottom:50px;
}

.player-ranking {
    margin-bottom:7px;
}

.player-place {
    display:inline-block;
    width:30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    background: #000;
}

.podium-list {
    margin-top:30px;
}
.ranking-second {
    padding-top:30px;
}
.ranking-third {
    padding-top: 30px;
}

.ranking-first .rank-number {
    color:#fec200;
    font-size:2rem;
}

.ranking-second .rank-number {
    color:#999999;
    font-size:1.6rem;
}

.ranking-third .rank-number {
    color:#be894a;
    font-size:1.6rem;
}

.rank-winner {
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    padding:5px 10px 3px 10px;
    text-transform: uppercase;
}

.player-resume {
    margin-top:5px;
    font-size: 0.9rem;
}


button.contest-activator {
    padding:0px 20px !important;
}