@import "joshua.css";
@import "admin.css";
@import "dashboard.css";
@import "user.css";
@import "contest.css";
@import "error404.css";

@keyframes clignote {
    0% {
        opacity: 0.8;
    }
    49% {
        opacity: 0.8;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* GENERAL */

* {
    --josh-major-font: 'VT323', monospace;
    --josh-text-font: 'Overpass Mono', monospace;
    --josh-green : #adce86;
    --josh-grey : #1a1a1a;
    --josh-yellow : #fec200;
    --josh-red : #e0013f;
}

main {
    min-height: calc(100vh - 77px - 148px);
}

body {
    background-color: var(--josh-grey);
    font-family: var(--josh-text-font);
    overflow-x:hidden;
}

h1 {
    font-family: var(--josh-major-font);
    color: var(--josh-green);
    font-size:3rem;
    padding:35px 0;
}

h2 {
    font-family: var(--josh-major-font);
    color: var(--josh-green);
    /*font-size: 1.5rem;*/
}

h3 {
    color: white;
    font-size:1.3rem;
}

.error {
    background-color: var(--josh-red);
    color:#fff;
}

.success {
    background-color: var(--josh-green);
    color:var(--josh-grey);
}

.btn {
    padding:0px 8px;
}

.btn i {
    font-size:0.9rem;
}

.btn.show-pass i {
    font-size:1.5rem;
}

.bold {
    font-weight: bold;
}

.text-red {
    color:var(--josh-red);
}

.text-grey {
    color:var(--josh-grey);
}

.text-grey-light {
    color:#999;
}

.text-green {
    color:var(--josh-green);
}

.navbar-brand {
    font-size:1.8rem;
}

.bg-none {
    background:none;
}

.list-group-item {
    border-color: #adce86;
}

.timer {
    padding:6px 12px;
    border:1px solid #fff;
    color:#fff;
    display: inline-block;
}

.btn {
    border-radius: 0;
    font-family: var(--josh-major-font);
    font-size: 1.3rem;
}

/* END GENERAL */

/* HEADER */
#navbarNav {
    height:60px;
}
.navbar-nav {
    height:60px;
}
.navbar-nav li {
    height:60px;
    line-height: 60px;
}
.navbar {
    background-color: var(--josh-grey);
}

nav.nav-item {
    display:inline-block;
    vertical-align: middle;
}

nav .nav-link:hover {
    color: var(--josh-green) !important;
    font-size: 1.3rem;
    transition: 0.3s;
}

nav .nav-link {
    font-size: 1.1rem;
    font-variant-caps: small-caps;
    padding: 0 15px !important;

}

.hover-red:hover {
    background:var(--josh-red);
}

/* END HEADER */

/* FOOTER */

.page-footer {
    margin-top: 25px;
    background-color: var(--josh-grey);
}

.icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border: 1px solid gray;
    background-color: gray;
}

.icon:hover {
    background-color: var(--josh-green);
    border: 1px solid var(--josh-green);
}

.icon-facebook {
    background-image: url(/assets/images/button/facebook.svg);
}

.icon-twitter {
    background-image: url(/assets/images/button/twitter.svg);
}

.icon-linkedin {
    background-image: url(/assets/images/button/linkedin.svg);
}

.icon-youtube {
    background-image: url(/assets/images/button/youtube.svg);
}

.icon-github {
    background-image: url(/assets/images/button/github.svg);
}

.link-footer {
    color: var(--josh-green);
}

.link-footer:hover {
    color: var(--josh-red);
}

/*END FOOTER */
