@font-face {
    font-family: 'pixelmix';
    src: url('../fonts/pixelmix.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    --josh-major-font: 'pixelmix';
    --josh-text-font: 'Overpass Mono', monospace;
    --josh-green : #adce86;
    --josh-grey : #1a1a1a;
    --josh-yellow : #fec200;
    --josh-red : #e0013f;
}

/* ****************************************** */
/* ***************  GENERAL  **************** */
/* ****************************************** */

body {
    background-color: var(--josh-grey);
    font-family: var(--josh-text-font);
}

h1 {
    font-family: var(--josh-major-font);
    color: var(--josh-green);
    font-size:2rem;
    padding:35px 0;
}

h2 {
    font-family: var(--josh-major-font);
    color: var(--josh-green);
    font-size: 1.2rem;
}

.error {
    background-color: var(--josh-red);
    color:#fff;
}

.success {
    background-color: var(--josh-green);
    color:var(--josh-grey);
}

.btn.show-pass i {
    font-size:1.5rem;
}

.bold {
    font-weight: bold;
}
.text-red {
    color:var(--josh-red);
}

.text-grey {
    color:var(--josh-grey);
}

.text-green {
    color:var(--josh-green);
}

.navbar-brand {
    font-size:1.8rem;
}

.bg-none {
    background:none;
}
.list-group-item {
    border-color: #adce86;
}

.timer {
    padding:6px 12px;
    border:1px solid #fff;
    color:#fff;
    text-shadow: 0px 0px 6px rgba(255,255,255, 0.9);
}

/* ****************************************** */
/* *********  BOOTSTRAP SURCHARGE  ********** */
/* ****************************************** */

.btn {
    border-radius:0;
    font-family: var(--josh-major-font);
    font-size:0.9rem;
}

/* USER */

#profil-user {
    width:100%;
}
#profil-user td {
    height:40px;
}
#profil-user tr td:first-child {
    width:40%;
    color:var(--josh-green);
}

.header-palmares {
    background-color: #111111;
}

.title-collapse {
    color:var(--josh-red);
}
.title-collapse.collapsed {
    color:#ccc;
}
.title-collapse:hover {
    color:var(--josh-red);
}

.input-group-text {
    font-family: var(--josh-major-font);
    font-size:0.7rem;
}

/* INDEX */

.input-pass-index {
    padding-left: 0;
    padding-right: 0;
}

.enter-btn {
    padding-top: 0;
    margin-top: -15px;
    margin-left: 15px;
}

.enter-btn .d-lg-block {
    max-width: 70px;
}

.enter-btn .d-lg-none {
    max-height: 35px;
    margin-top: 20px;
}

.index-link {
    color: white;
}

.index-link:hover {
    color: var(--josh-green);
}

/* HOME */

.card-deck {
    margin-left: 0;
    margin-right: 0;
}

.border-success {
    border-color: var(--josh-green) !important;
}

.card-footer {
    border-top: 1px solid var(--josh-green);
}

.bg-dark {
    background-color: var(--josh-grey) !important;
}

.border-success img {
    height: 225px;
    width: auto;
}

.margin-duration {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* ADMIN */

/* //////////// ADMIN USERS */

table.adminusers {
    width:100%;
}
table.adminusers tr:not(:last-child) {
    border-bottom : 1px solid #ccc;
}
table.adminusers tr td {
    padding: 10px 0 ;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--josh-red);
    background-color:  var(--josh-red);
}
.pagination {
    margin-top:20px;
    padding-left:35px;
}
.page-item .page-link {
    color:var(--josh-grey);
    font-family: var(--josh-text-font);
}
.page-item.active .page-link {
    background-color: var(--josh-red);
    border-color: var(--josh-red);
    color:white;
}

/* //////////// FIN ADMIN USERS */


.admin_title {
    margin: 4rem;
}

.admin_button {
    margin-top: 4rem;
}

.existing_challenge {
    font-family: var(--josh-major-font);
    font-size: 0.8rem;
}

.list-container {
    height: 24rem;
}

/* _Header */

.navbar {
    background-color: var(--josh-grey);
}

nav .nav-link:hover {
    color: var(--josh-green) !important;
    font-size: 1.2rem;
    transition: 0.4s;
}

nav .nav-link {
    font-size: 1.1rem;
    font-variant-caps: small-caps;
}

/* Specialty */
ul{
    list-style-type: none;
}
.list-specialty{
    height: 150px;
    width:42%;
    line-height: normal;
}
.container-specialties{
    justify-content: center;
    align-items: center;
    margin-left: 11rem;
}
.input-group.specialty.campus{
    padding: 0;
}
.row-specialty{
    margin-top: 2rem;

}
.specialty-font{
    margin-top: 3rem;
    font-family: var(--josh-major-font);
}

.btn.specialty{
    border-radius: 1px;
    border-color: grey;
    margin-left: 13rem;
}

.btn-campus{
    border-radius: 1px;
    border-color: grey;
    margin-left: 14rem;
}
.row-campus{
    margin-left: 23rem;
    margin-top: 2rem;
}
.row-campus-flag {
    margin-top: 4rem;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
}

