@font-face {
    font-family: 'pixelmix';
    src: url('../fonts/pixelmix.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    --josh-major-font: 'pixelmix';
    --josh-text-font: 'arial';
    --josh-green : #adce86;
    --josh-grey : #1a1a1a;
    --josh-yellow : #fec200;
    --josh-red : #e0013f;
}

/* ****************************************** */
/* ***************  GENERAL  **************** */
/* ****************************************** */

body {
    background-color: var(--josh-grey);
}

h1 {
    font-family: var(--josh-major-font);
    color: var(--josh-green);
    font-size:2rem;
    padding:35px 0;
}

h2 {
    font-family: var(--josh-major-font);
    color: var(--josh-green);
    font-size: 1.2rem;
}

.error {
    background-color: var(--josh-red);
    color:#fff;
}

.success {
    background-color: var(--josh-green);
    color:var(--josh-grey);
}

.btn.show-pass i {
    font-size:1.5rem;
}

.bold {
    font-weight: bold;
}
.text-red {
    color:var(--josh-red);
}

.navbar-brand {
    font-size:1.8rem;
}
/* ****************************************** */
/* *********  BOOTSTRAP SURCHARGE  ********** */
/* ****************************************** */

.btn {
    border-radius:0;
    font-family: var(--josh-major-font);
    font-size:0.9rem;
}

/* USER */


/* INDEX */

.input-pass-index {
    padding-left: 0;
    padding-right: 0;
}

.enter-btn {
    padding-top: 0;
    margin-top: -15px;
    margin-left: 15px;
}

.enter-btn .d-lg-block {
    max-width: 70px;
}

.enter-btn .d-lg-none {
    max-height: 35px;
    margin-top: 20px;
}

.index-link {
    color: white;
}

.index-link:hover {
    color: var(--josh-green);
}

/* USER */

.input-group-text {
    font-family: var(--josh-major-font);
    font-size:0.7rem;
}

/* ADMIN */

.admin_title {
    margin: 4rem;
}

.admin_button {
    margin-top: 4rem;
}

.existing_challenge {
    font-family: var(--josh-major-font);
    font-size: 0.8rem;
}

.list-container {
    height: 24rem;
}

/* _Header */

.navbar {
    background-color: var(--josh-grey);
}
