@font-face {
    font-family: 'pixelmix';
    src: url('../fonts/pixelmix.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    --josh-major-font: 'pixelmix';
    --josh-text-font: 'arial';
    --josh-green : #adce86;
    --josh-grey : #1a1a1a;
    --josh-yellow : #fec200;
    --josh-red : #e0013f;
}

/* ****************************************** */
/* ***************  GENERAL  **************** */
/* ****************************************** */


body {
    background-color: var(--josh-grey);
}

h1 {
    font-family: var(--josh-major-font);
    color: var(--josh-green);
    font-size:2rem;
    padding:35px 0;
}




/* ****************************************** */
/* *********  BOOTSTRAP SURCHARGE  ********** */
/* ****************************************** */

.btn {
    border-radius:0;
    font-family: var(--josh-major-font);
    font-size:0.9rem;
}

.input-group-text {
    font-family: var(--josh-major-font);
    font-size:0.7rem;
}