/* USER */

#profil-user {
    width:100%;
}

#profil-user td {
    height:40px;
}

#profil-user tr td:first-child {
    width:40%;
    color:var(--josh-green);
}

.header-palmares {
    background-color: #111111;
}

.title-collapse {
    color:var(--josh-red);
}

.title-collapse.collapsed {
    color:#ccc;
}

.title-collapse:hover {
    color:var(--josh-red);
}

.input-group-text {
    font-family: var(--josh-major-font);
    font-size:0.7rem;
}

/* END USER */
