{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row mt-5">
            <div class="col-12 align-self-center text-center">
                <img src="https://avatars.githubusercontent.com/{{ user.github }}" alt="avatar github" id="avatar" class="img-thumbnail rounded-circle" width="85">
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <h1>Hello {{user.firstname}} {{ user.lastname }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">You're account has been created</h2>
                <p class="text-white">We need to verify your e-mail. Please check your mail give us the code you received</p>
            </div>
            <div class="col-12 text-center">
                <p class="text-white"><span class="bold text-red">You are connected as </span> {{ user.pseudo }} </p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-12 text-center">
                <a class="btn btn-dark text-white" href="/">Let's go to capture the flags<i class="fa fa-key"></i></a>
            </div>
        </div>
    </div>

{% endblock %}
{%  block javascript %}
<script src="/assets/js/formControl.js"></script>
    <script src="/assets/js/userForm.js"></script>
{% endblock %}