<footer class="page-footer">

    <div class="container">
        <div class="d-flex justify-content-center mt-4 mb-4">

            <!-- Facebook -->
            <a href="https://www.facebook.com/WildCodeSchool/" target="_blank" class="icon icon-facebook"></a>

            <!-- Twitter -->
            <a href="https://twitter.com/wildcodeschool" target="_blank" class="icon icon-twitter"></a>

            <!-- Linkedin -->
            <a href="https://www.linkedin.com/school/wild-codes-chool/" target="_blank" class="icon icon-linkedin"></a>

            <!-- Youtube -->
            <a href="https://www.youtube.com/channel/UCi99G_0QPx5sYsK8zdvQzfw" target="_blank" class="icon icon-youtube"></a>

            <!-- Github -->
            <a href="https://github.com/WildCodeSchool" target="_blank" class="icon icon-github"></a>

        </div>
    </div>

    <p class="text-center text-white"><a href="https://wildcodeschool.com/" class="link-footer">Wild Code School</a>
        - <a href="/joshua/about" class="link-footer">About Joshua</a></p>

</footer>
