{% extends 'layout.html.twig' %}

{% block header %}{% endblock %}

{% block content %}
<ol>
        {% for rank_user in rank_users|slice(0, 10) %}
            <li class="text-white">{{ rank_user.pseudo }}<span class="float-right">{{ rank_user.flags_succeed }} flags in {{ rank_user.total_time }}</span></li>
        {% endfor %}
</ol>
{% endblock %}

{% block footer %}{% endblock %}