<div class="input-group-prepend">
    <label class="input-group-text {% if errors.specialty %} error {% endif %}"  id="inputGroup-specialty" for="specialty">Specialty</label>
</div>
<select class="custom-select" id="specialty" name="specialty">
    {% for specialty in specialties %}
        <option value="{{ specialty.id }}" {% if user.specialty_id == specialty.id %} selected {% endif %}>{{ specialty.title }}</option>
    {% endfor %}
</select>
